* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #555555;
}

.header {
    height: 90px;
    background: #0073A1;
}

.container {
    width: 1590px;
    margin: 0 auto;
}

.title {
    margin-bottom: 60px;
    padding: 40px 0 15px 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    border-bottom: 1px solid #000000;
}

.section-title {
    margin-bottom: 4px;
    padding: 20px 0 20px 40px;
    color: #000000;
    background: #FAFAFA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
}

.shadowed {
    font-weight: 700;
    color: #003471;
}

.section-description {
    margin-bottom: 25px;
    padding: 28px 0 28px 40px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

}

.section-date {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 25px;
    color: #0073A1;
}

.button {
    margin: 35px 0 225px;
    padding: 19px 65px;
    background: #0073A1;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}


